@model Web_Store.Models.Employee
<!DOCTYPE html>

<html>
<body>
    <h3>Employee:</h3>
    
    <p>Name: @Model.Id</p>
    <p>Last Name: @Model.LastName</p>
    <p>First Name: @Model.FirstName</p>
    <p>Patronymic: @Model.Patronymic</p>
    <p>Age: @Model.Age</p>
    
    <hr/>
     
    <a href="~/Employees/Index">To the List</a>    
</body>
</html>
