@model IEnumerable<Web_Store.Models.Employee>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employes</title>
</head>
<body>
    <h3>Employees:</h3>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Patronymic</th>
                <th>Age</th>                
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model) { 
                <tr>
                    <td>@employee.Id</td>
                    <td>@employee.LastName</td>
                    <td>@employee.FirstName</td>
                    <td>@employee.Patronymic</td>
                    <td>@employee.Age</td>
                </tr>
            }
        </tbody>
    </table>
    <hr/>
        <a href="~/Home/Index">Home</a>    
</body>
</html>
